@model HRM.Models.EmployeeCVModel

@{
    ViewBag.Title = "DeleteEmp";
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).on('submit', '[id^=submit_Form]', function (e) {
        e.preventDefault();

        var data = $(this).serialize();

        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteEmp")',
                        data: data,
                        success: function (response) {
                            window.location.href = response.Url;
                        },
                        error: function (data) {
                            swal("NOT Deleted!", "Something went wrong.", "error");
                        }
                    });
                } else {
                    swal("Cancelled", "Your record is safe :)", "error");
                }
            });

        return false;
    });
</script>*@
<h2>DeleteEmp</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <hr />
        <table class="table">
            <tr>
                @Html.HiddenFor(model => model.EmpID)
                <th>
                    @Html.DisplayNameFor(model => model.VLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NickName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (System.Data.DataRow item in ViewBag.emp.Rows)
            {
                <tr>
                    <td>
                        @item["VLastName"]
                    </td>
                    <td>
                        @item["VFirstName"]
                    </td>
                    <td>
                        @item["NickName"]
                    </td>
                    <td>
                        @item["DOB"]
                    </td>
                    <td>
                        @item["Gender"]
                    </td>
                    <td>
                        @item["Email"]
                    </td>
                </tr>
            }
        </table>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAllEmp")
        </div>
    }
</div>
